workflows
[{"updatedAt":"2025-09-17T04:41:28.000Z","createdAt":"2025-09-12T10:03:51.254Z","id":"8H3aT0HeG9DV0aay","name":"SyncUsers","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1},{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-224,128],"id":"38993db4-9928-4b16-90b9-b9a5e640cfe1","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1136,384],"id":"1e0de78e-bb85-41d7-8a9b-8fd6ccf8a541"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60e33811-3ca1-4565-9313-d8acf04d8d14","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"590da02b-f3ca-4223-9ecd-48399341cf1b","leftValue":"={{ $json.cempnoee }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,240],"id":"7787520b-41e0-4c0c-80da-229292746ac4","name":"If","alwaysOutputData":true},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user","mode":"list","cachedResultName":"user"},"where":{"values":[{"column":"lastSyncedDate","condition":"IS NULL"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[0,0],"id":"503aea67-a6a6-43a4-8791-0c3de7b8c584","name":"Unsynced Data in Ingress","alwaysOutputData":true,"credentials":{"mySql":{"id":"aL7RMzzmPqZb0XR3","name":"MySQL account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,0],"id":"27a2cd81-8644-4838-a70b-e1ee4f9e416b","name":"Ingress Output Items"},{"parameters":{"operation":"executeQuery","query":"SELECT \ncempbadge,\ncempnoee,\ncempname,\ncempnoicnew,\ncempnopasspor,\ndempbirth,\ncempsex,\ncempemail \nFROM emas\nWHERE cempbadge = '{{ $json.userid }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[880,16],"id":"27b33110-01e1-44e3-bc1f-d676942b096b","name":"Find Record in HR DB","alwaysOutputData":true,"credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}}},{"parameters":{"operation":"update","table":{"__rl":true,"value":"user","mode":"list","cachedResultName":"user"},"dataMode":"defineBelow","columnToMatchOn":"userid","valueToMatchOn":"={{ $('Ingress Output Items').item.json.userid }}","valuesToSend":{"values":[{"column":"Name","value":"={{ $json.cempname }}"},{"column":"ic","value":"={{ $json.cempnoicnew }}"},{"column":"DOB","value":"={{ $json.dempbirth }}"},{"column":"Gender","value":"={{ $json.cempsex }}"},{"column":"Email","value":"={{ $json.cempemail }}"},{"column":"lastSyncedDate","value":"={{ DateTime.now().format('yyyy-MM-dd HH:mm:ss') }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[992,224],"id":"17a698bf-f908-4a23-8aab-941c321cc18f","name":"Update Data in Ingress","credentials":{"mySql":{"id":"aL7RMzzmPqZb0XR3","name":"MySQL account"}}},{"parameters":{"operation":"executeQuery","query":" INSERT INTO emas (cempnoee, cempname)\n        VALUES ('{{ $('Ingress Output Items').item.json.userid }}', '{{ $('Ingress Output Items').item.json.Username }}');"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[832,400],"id":"18f202b5-6393-4173-aee1-d372224cce20","name":"Insert Emp Data in HR DB","credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"433737f1-f863-4942-b440-bbc9600ea90a","leftValue":"={{ $json.userid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,16],"id":"b68c1d9e-c235-48fd-91f1-1ed1471ffa40","name":"If New Users Detected"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Unsynced Data in Ingress","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Ingress Output Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Update Data in Ingress","type":"main","index":0}],[{"node":"Insert Emp Data in HR DB","type":"main","index":0}]]},"Unsynced Data in Ingress":{"main":[[{"node":"If New Users Detected","type":"main","index":0}]]},"Ingress Output Items":{"main":[[],[{"node":"Find Record in HR DB","type":"main","index":0}]]},"Find Record in HR DB":{"main":[[{"node":"If","type":"main","index":0}]]},"Update Data in Ingress":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Insert Emp Data in HR DB":{"main":[[{"node":"Update Data in Ingress","type":"main","index":0}]]},"If New Users Detected":{"main":[[{"node":"Ingress Output Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"892cff04-3b9e-478c-b358-f9fc0cb3c597","activeVersionId":null,"versionCounter":1,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-09-12T10:03:51.259Z","createdAt":"2025-09-12T10:03:51.259Z","role":"workflow:owner","workflowId":"8H3aT0HeG9DV0aay","projectId":"XQuHIsfzTVq30lvH","project":{"updatedAt":"2026-05-21T13:24:03.411Z","createdAt":"2025-09-12T09:49:58.631Z","id":"XQuHIsfzTVq30lvH","name":"PQ Dev <wj.yew@peoplequest.com.my>","type":"personal","icon":null,"description":null,"creatorId":"fe8df6a9-71a0-441b-ac70-7a3bf64628ea"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2025-12-21T08:44:44.000Z","createdAt":"2025-09-12T10:04:09.670Z","id":"WGw3r2PuAq9H8pdJ","name":"SyncClocking","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-624,96],"id":"65c071fd-c19b-4c23-b50c-77d23138f3a6","name":"Schedule Trigger","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"EXEC [dbo].[pTerImportClockData]\n\t\t@EmpID = {{ $json.userid }},\n        @SerialNumber = {{ $json.serialno }},\n\t\t@ClockDateTime = '{{ DateTime.fromFormat($json.checktime, 'yyyy-MM-dd HH:mm:ss').toFormat('dd/MM/yyyy HH:mm:ss') }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[0,96],"id":"309b92a0-ee58-416d-9ebe-f6a655d920b9","name":"Call SP Clock Sync","alwaysOutputData":true,"notesInFlow":true,"credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM auditdata WHERE syncedDate IS NULL AND checktime >= '{{ $json.configvalue  }}' LIMIT 1","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-208,96],"id":"c164239b-463b-4892-9150-540f5aa6a607","name":"Find Unsynced Record","alwaysOutputData":true,"credentials":{"mySql":{"id":"aL7RMzzmPqZb0XR3","name":"MySQL account"}}},{"parameters":{"operation":"update","table":{"__rl":true,"value":"auditdata","mode":"list","cachedResultName":"auditdata"},"dataMode":"defineBelow","columnToMatchOn":"idAttendance","valueToMatchOn":"={{ $('Find Unsynced Record').item.json.idAttendance }}","valuesToSend":{"values":[{"column":"syncedDate","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[208,0],"id":"d38a5e19-6422-47e5-bd19-6ce8c7ef8cd8","name":"Update rows in a table","alwaysOutputData":false,"credentials":{"mySql":{"id":"aL7RMzzmPqZb0XR3","name":"MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT TOP 1 configvalue from wfconfigs where configname = 'CLOCK_QUERY_STARTTIME';"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-416,96],"id":"2f34bebb-6a33-41f5-af7d-39209da58513","name":"Get Query CutOff","credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}}},{"parameters":{"table":"wflogs","columns":"sourceuserid, sourceserialno, clockdatetime, remarks"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[208,192],"id":"59e7dfb7-f236-4010-bc52-e36527011d3d","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE wfconfigs SET configvalue = '{{ $now.format('yyyy-MM-dd HH:mm:ss') }}' WHERE configname = 'CLOCK_QUERY_STARTTIME'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[416,0],"id":"cef3b07e-82ee-4119-9a6e-b7cb8d17b920","name":"Update Cutoff date","credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Query CutOff","type":"main","index":0}]]},"Call SP Clock Sync":{"main":[[{"node":"Update rows in a table","type":"main","index":0}],[{"node":"Microsoft SQL","type":"main","index":0}]]},"Find Unsynced Record":{"main":[[{"node":"Call SP Clock Sync","type":"main","index":0}]]},"Get Query CutOff":{"main":[[{"node":"Find Unsynced Record","type":"main","index":0}]]},"Update rows in a table":{"main":[[{"node":"Update Cutoff date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"911003f1-2bd7-492c-8b25-a2b355153a5a","activeVersionId":"911003f1-2bd7-492c-8b25-a2b355153a5a","versionCounter":4,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-09-12T10:04:09.672Z","createdAt":"2025-09-12T10:04:09.672Z","role":"workflow:owner","workflowId":"WGw3r2PuAq9H8pdJ","projectId":"XQuHIsfzTVq30lvH","project":{"updatedAt":"2026-05-21T13:24:03.411Z","createdAt":"2025-09-12T09:49:58.631Z","id":"XQuHIsfzTVq30lvH","name":"PQ Dev <wj.yew@peoplequest.com.my>","type":"personal","icon":null,"description":null,"creatorId":"fe8df6a9-71a0-441b-ac70-7a3bf64628ea"}}],"versionMetadata":{"name":null,"description":null}}]