workflows/WGw3r2PuAq9H8pdJ.json
{"updatedAt":"2025-12-21T08:44:44.000Z","createdAt":"2025-09-12T10:04:09.670Z","id":"WGw3r2PuAq9H8pdJ","name":"SyncClocking","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-624,96],"id":"65c071fd-c19b-4c23-b50c-77d23138f3a6","name":"Schedule Trigger","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"EXEC [dbo].[pTerImportClockData]\n\t\t@EmpID = {{ $json.userid }},\n        @SerialNumber = {{ $json.serialno }},\n\t\t@ClockDateTime = '{{ DateTime.fromFormat($json.checktime, 'yyyy-MM-dd HH:mm:ss').toFormat('dd/MM/yyyy HH:mm:ss') }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[0,96],"id":"309b92a0-ee58-416d-9ebe-f6a655d920b9","name":"Call SP Clock Sync","alwaysOutputData":true,"notesInFlow":true,"credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM auditdata WHERE syncedDate IS NULL AND checktime >= '{{ $json.configvalue  }}' LIMIT 1","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-208,96],"id":"c164239b-463b-4892-9150-540f5aa6a607","name":"Find Unsynced Record","alwaysOutputData":true,"credentials":{"mySql":{"id":"aL7RMzzmPqZb0XR3","name":"MySQL account"}}},{"parameters":{"operation":"update","table":{"__rl":true,"value":"auditdata","mode":"list","cachedResultName":"auditdata"},"dataMode":"defineBelow","columnToMatchOn":"idAttendance","valueToMatchOn":"={{ $('Find Unsynced Record').item.json.idAttendance }}","valuesToSend":{"values":[{"column":"syncedDate","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[208,0],"id":"d38a5e19-6422-47e5-bd19-6ce8c7ef8cd8","name":"Update rows in a table","alwaysOutputData":false,"credentials":{"mySql":{"id":"aL7RMzzmPqZb0XR3","name":"MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT TOP 1 configvalue from wfconfigs where configname = 'CLOCK_QUERY_STARTTIME';"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-416,96],"id":"2f34bebb-6a33-41f5-af7d-39209da58513","name":"Get Query CutOff","credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}}},{"parameters":{"table":"wflogs","columns":"sourceuserid, sourceserialno, clockdatetime, remarks"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[208,192],"id":"59e7dfb7-f236-4010-bc52-e36527011d3d","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE wfconfigs SET configvalue = '{{ $now.format('yyyy-MM-dd HH:mm:ss') }}' WHERE configname = 'CLOCK_QUERY_STARTTIME'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[416,0],"id":"cef3b07e-82ee-4119-9a6e-b7cb8d17b920","name":"Update Cutoff date","credentials":{"microsoftSql":{"id":"359F5Jm28yQ64IA2","name":"Microsoft SQL account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Query CutOff","type":"main","index":0}]]},"Call SP Clock Sync":{"main":[[{"node":"Update rows in a table","type":"main","index":0}],[{"node":"Microsoft SQL","type":"main","index":0}]]},"Find Unsynced Record":{"main":[[{"node":"Call SP Clock Sync","type":"main","index":0}]]},"Get Query CutOff":{"main":[[{"node":"Find Unsynced Record","type":"main","index":0}]]},"Update rows in a table":{"main":[[{"node":"Update Cutoff date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"911003f1-2bd7-492c-8b25-a2b355153a5a","activeVersionId":"911003f1-2bd7-492c-8b25-a2b355153a5a","versionCounter":4,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-09-12T10:04:09.672Z","createdAt":"2025-09-12T10:04:09.672Z","role":"workflow:owner","workflowId":"WGw3r2PuAq9H8pdJ","projectId":"XQuHIsfzTVq30lvH","project":{"updatedAt":"2026-05-21T13:24:03.411Z","createdAt":"2025-09-12T09:49:58.631Z","id":"XQuHIsfzTVq30lvH","name":"PQ Dev <wj.yew@peoplequest.com.my>","type":"personal","icon":null,"description":null,"creatorId":"fe8df6a9-71a0-441b-ac70-7a3bf64628ea"}}],"versionMetadata":{"name":null,"description":null}}